.navBar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    width: 100%;
    height: 75px;
    background-color:lightsalmon;
}

.logo {
    margin-left: 10px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

li {
    margin-left: 10px;
    margin-right: 10px;
}

button{
    margin-right: 20px;
}