.contenedor{
    background-color: rgb(203, 204, 167);
    width: 250px;
    border-radius: 8px;
}

.contenedor button {
    margin: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 6px;
}

.b1 {
    width: 35px;
    background-color: red;
}

.b2 {
    width: 35px;
    background-color: green;
}

.agregar{
    width: 150px;
}